@model IEnumerable<MvcAutoAuction.Models.Bid>

@{
    ViewBag.Title = "BiddingHistory";
}

<h2>BiddingHistory</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            FirstName
        </th>
        <th>
            LastName
        </th>
        <th>
            AutoInfo
        </th>
        <th>
            Phone
        </th>
        <th>
            Email
        </th>
        <th>
            BidAmount
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AutoInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BidAmount)
        </td>
        
    </tr>
}

</table>
